[Desktop Entry]
Categories={{categories}}
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}}
Icon={{icon}}
Name={{name}}
StartupWMClass=com.mysipphone.desktop
Terminal=false
Type=Application
